* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: #544837;
	font-size: 16px;
	line-height: 26px;
}



button {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	cursor: pointer;
}

.title {
	color: #2F281E;
}

.container {
	max-width: 1124px;
	margin: 0 auto;
	padding: 0 10px;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 78px;
}

.menu {
	margin-left: auto;
}

.menu__list {
	display: flex;
}

.menu__list-item + .menu__list-item {
	margin-left: 24px;
}

.menu__list-link {
	font-size: 14px;
	line-height: 28px;
	color: #2F281E;
	text-decoration: none;
	font-weight: 400;
}

.user-nav {
	margin: 0 13px 0 52px;
}

.user-nav__link {
	color: #173A56;
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	padding: 11px 23px;
	border: 1px solid #BCD0E5;
	border-radius: 4px;
	text-decoration: none;
}



.user-nav__link + .user-nav__link {
	margin-left: 14px;
	background-color: transparent;
	background-color: #FF9900;
	color: #fff;

}


.top__inner {
	padding: 133px 0 80px;
	background-image: url('../images/top-bg.svg');
	background-repeat: no-repeat;
	background-position: bottom right;
}

.top__title {
	font-weight: bold;
	font-size: 44px;
	line-height: 54px;
	margin-bottom: 30px;
	max-width: 518px;
}

.top__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 45px;
	max-width: 460px; 
}

.top__btn {
	display: inline-block;
	font-weight: 700;
	color: #fff;
	background-color: #FF9900;
	border-radius: 4px;
	padding: 15px 41px 14px;
	margin-right: 30px;
	border:none;

}

.top__link {
	line-height: 24px;
	display: inline-block;
	font-weight: 600;
	color: #FF9900;
	padding-left: 25px;
	position: relative;
}

.top__link::before {
	content: "";
	position: absolute;
	left: 0;
	width: 17px;
	height: 19px;
	background-image: url('../images/play_icon.svg');
}

.tools {
	padding-top: 110px;
}


.tools__title {
	text-align: center;
	max-width: 539px;
	margin: 0 auto 46px;
	margin-bottom: 46px;
	font-size: 36px;
	line-height: 54px;
	font-weight: 700;
	padding: 0 10px;
}

.tools__inner {
	padding-bottom: 90px;
	background-image: url('../images/tools-bg.svg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}

.tools__items {
	display: flex;
	justify-content: space-between;
	padding: 8px 16px 0;
	margin-bottom: 60px;
}

.tools__item {
	width: 240px;
}

.tools__item-img {
	margin-bottom: 30px;
}

.tools__item-title {
	font-size: 22px;
	line-height: 33px;
	font-weight: 600;
	margin-bottom: 13px;
}

.tools__link {
	background-color: #FF9900;
	display: block;
	padding: 15px 32px 14px;
	border-radius: 4px;
	line-height: 24px;
	text-decoration: none;
	width: 173px;
	margin: 0 auto;
	color: white;
}


.direction {
	padding: 120px 0 100px;
}

.direction__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.direction__item-content {
	max-width: 486px;
}

.direction__item-pretitle {
	margin-bottom: 3px;
}


.direction__item-title {
	font-size: 36px;
	line-height: 54px;
	font-weight: 700;
	margin-bottom: 22px;
}

.direction__item-title-text {
	margin-bottom: 30px;
}

.direction__item-text {
	margin-bottom: 25px;
}

.direction__item-subtitle {
	font-weight: 700;
	margin-bottom: 12px;
}

.direction__list {
	list-style: none;
}

.direction__list-item {
	margin-bottom: 30px;
	padding-left: 65px;
	position: relative;
}

.direction__list-item::before {
	content: "";
	position: absolute;
	top: 9px;
	left: 0;
	width: 35px;
	height: 35px;
	background-image: url('../images/direction-tick.svg');
}

.team {
	background-image: url('../images/team-oval-bg.svg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.team__inner {
	padding: 230px 0 380px;
	position: relative;
}

.team__box {
	text-align: center;
	max-width: 542px;
	margin: 0 auto;
}

.team__title {
	font-size: 36px;
	line-height: 54px;
	font-weight: 700;
	margin-bottom: 22px;
}


.team__text {
	color: #567592;
	margin-bottom: 45px;
}


.team__btn {
	background-color: #FF9900;
	border: none;
	border-radius: 4px;
	padding: 15px 30px 14px;
	color: white;
}

.team__item {
	position: absolute;
	width: 98px;
	height: 98px;
	
}

.team__item-1 {
	right: 95px;
	top: 157px;
}

.team__item-2 {
	right: 0px;
	left: 0px;
	top: 257px;
}

.team__item-3 {
	bottom: 257px;
	right: 0;
}

.team__item-4 {
	bottom: 0px;
	top: 526px;
	left: 220px;
}

.team__item-5 {
	bottom: 0px;
	top: 700px;
	left: 700px;
}

.team__item-img {
	width: 98px;
	height: 98px;
	border-radius: 50%;
	overflow: hidden;
	object-fit: cover;
}

.team__item-text {
	background-color: #fff;
	padding: 14px 20px 15px;
	color: #2F281E;
	box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
	border-radius: 26.5px;
	position: absolute;
	top: -30px;
	right: 75px;
	white-space: nowrap;

}

.team__item-text.team__item-text--left {
	top: -48px;
	right: auto;
	left:45px;
}

.team__item-text--right::after, 
.team__item-text--right::before,
.team__item-text--left::after,
.team__item-text--left::before {
	content: "";
	position: absolute;
	background-color: #fff;
	border-radius: 50%;
}

.team__item-text--right::after,
.team__item-text--left::after {
	width: 17px;
	height: 17px;
	bottom: -7px;
	right: 25px;
}

.team__item-text--right::before,
.team__item-text--left::before {
	width: 9px;
	height: 9px;
	bottom: -20px;
	right: 9px;
}


.team__item-text--left::before {
	left: 30px;
	right: auto;
}


.team__item-text--left::after {
	left: 40px;
	right: auto;
}

.blog {
	padding: 30px 0 120px;
}

.blog__title {
	font-size: 34px;
	line-height: 51px;
	font-weight: 700;
	margin-bottom: 9px;
}

.blog__text {
	margin-bottom: 55px;
}

.slider {
	margin: 0 -20px;
}


.slider__item {
	padding: 0 20px;
}

.slider__item-img {
	width: 348px;
	height: 185px;
	object-fit: cover;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-bottom: 25px;
}

.slider__item-info {
	margin-bottom: 12px;
	line-height: 28px;
}

.slider__item-author {
	text-decoration: none;
	font-weight: 700;
	color: #544837;
}

.slider__item-title {
	text-decoration: none;
	font-size: 24px;
	line-height: 34px;
	font-weight: 700;
	margin-bottom: 84px;
	display: inline-block;
}

.slider__item-title::hover {
	color: #FF9900;
}

.slick-dots {
	list-style: none;
	display: flex;
	justify-content: center;
}

.slick-dots button {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: none;
	font-size: 0;
	background-color: #efefef;
	padding: 0;
	margin: 0 5px;
}

.slick-dots .slick-active button {
	background-color: #ff9900;
}



















.footer__flex {
	display: flex;
	justify-content: space-between;
	margin: 20px;

}

.footer__about {
	padding-top: 50px;
	
}

.footer__about-item {
	list-style: none;
}

.footer__about-link {
	text-decoration: none;
}

.footer__disclaimer {
	padding-top: 50px;
}

.footer__disclaimer-item {
	list-style: none;
}

.footer__disclaimer-link {
	text-decoration: none;
}

.footer__sign-up {
	padding-top: 50px;
}

#text {
	padding: 10px 10px;
	margin: 15px 0;
}

.footer__sign-up-link {
	background-color: #FF9900;
	display: block;
	padding: 15px 32px 14px;
	border-radius: 4px;
	line-height: 24px;
	text-decoration: none;

}


.menu__btn {
	width: 40px;
	height: 30px;
	display: none;
	position: relative;
	
}

.menu__btn span {
	display: block;
	height: 2px;
	width: 100%;
	background-color: black;
	position: absolute;
	left: 0;
	top: 13px;
}

.menu__btn::after,
.menu__btn::before{
	content: "";
	position: absolute;
	width: 40px;
	height: 2px;
	background-color: black;
}

.menu__btn::before{
	top: 0;
}


.menu__btn::after{
	bottom: 0;
}